.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.nav-items>ul{
    font-size: large;
    display: flex;
    list-style-type: none;
}
.nav-items>ul>li{
    padding: 10px;
}
.logo{
    width: 75px;
}
.search{
    padding: 10px;
}
.card{
    padding: 5px;
    margin: 5px;
    width: 275px;
}
.card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.restlogo{
    width: 100%;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}